{% extends "vacancies/base.html" %}

{% block container %}

  <title>Вакансия | Джуманджи</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
{% load crispy_forms_tags %}
<body>
  <header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand mr-4 font-weight-bold" href="/">Джуманджи</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav col-10">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'vacancies' %}">Вакансии</a>
          </li>
        </ul>
        <ul class="navbar-nav col-2 justify-content-end">
          <li class="nav-item active">
            <a href="{% url 'login' %}" class="nav-link font-weight-bold">Вход</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-2">
        <div class="pl-3 mb-5">
          <p><a href="{% url 'vacancies' %}">Назад</a></p>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <section class="pl-3">
            <a href="#"><img src="https://place-hold.it/130x80" width="130" height="80" alt=""></a>
            <div class="d-flex align-items-baseline align-content-baseline">

              <h1 class="h2 mt-4 font-weight-bold" >{{ vacancy.title }}</h1>
              <p class="m-0 pl-3">{{ vacancy.salary_min }} – {{ vacancy.salary_max }} Р</p>
            </div>
            <p class="mt-2">{{ vacancy.skills }}</p>
            <p class="text-muted mb-4">{{ vacancy.title }} ({{ company.employee_count }} человек), {{ company.location }} или удаленно</p>
            <div class="form-group">
              <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-info" value="Отправить отклик"/>
              </form>
            </div>

        </section>
      </div>
    </div>
  </main>

  {% endblock %}